{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Your form and other template content go here -->
<div id="signup-app">
    <form @submit.prevent="submitForm">
        Username: <input type="text" v-model="username"><br>
        Email: <input type="email" v-model="email"><br>
        employee Id: <input type="text" v-model="emp_id"><br>
        Phone number: <input type="text" v-model="number"><br>
        Password: <input type="password" v-model="password"><br>
        Role: <select v-model="role_id">
            <option value="1">Vendor</option>
            <option value="2">Client</option>
        </select><br>
        <button type="submit">Sign Up</button>
    </form>
</div>

<script src="{% static 'accounts/js/signup.js' %}"></script>
{% endblock %}
